:root {
  --heading-font-family: "Dr Sugiyama", cursive;
  --default-font-family: "Josefin Sans", sans-serif;
  --default-font-color: #ffffff;
  --background-color: #202020;
}

body {
  background: var(--background-color);
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--default-font-color);
  padding: 20px;
  font-size: 86px;
  line-height: 84px;
}

h2 {
  font-family: var(--default-font-family);
  color: var(--default-font-color);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  font-size: 18px;
}

.btn-outline-light {
  font-family: var(--default-font-family);
}

.hero {
  padding: 160px 20px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.content h1 {
  padding-left: 0;
}

.content h2 {
  font-size: 28px;
}

.content p {
  font-size: 22px;
}

.content {
  padding: 40px;
}

@media (max-width: 860px) {
  h1 {
    font-size: 48px;
    text-align: center;
  }

  h2 {
    font-size: 22px;
    text-align: center;
  }

  hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
    font-size: 14px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .content-container h1 {
    font-size: 48px;
    text-align: center;
    padding: 0;
  }

  .content-container h2 {
    font-size: 14px;
  }

  .content-container p {
    font-size: 14px;
    padding: 0;
  }
}
